
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #93B1A7;
}

body {
  font-size: 1em;
  font-family: Poppins, sans-serif;
}

button{
  font-family: Poppins;
}

img{
  width: 400px;
  height: auto;
}

#login-wrapper{
  justify-content: center;
}
#login-text{

  flex-flow: column nowrap;
  width: 250px;
  padding: 10px;

}
#login-text input{
  margin: 10px;
}

#login-text button{
  width: 150px;
  align-self: center;
  margin-top: 10px;
}

#main-sign-up {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#main-sign-up:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: aliceblue;
  box-shadow: 2px 2px 5px black;
}

.card-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  .card-item {
    margin: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    background-color: aliceblue;
    
    img {
      width: 300px;
      height: 200px;
    }

    .card-info {
      padding: 10px;
    }
  }
}

